.container {
  padding:15px 20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 10px;
  width: max-content;
  color: white;
  font-weight: bold;
}
.container:hover{
  background-color: #1fac65;
}